:root {
    --header-min_height: 100px;
    --footer-min_height: 100px;
    --bg-green: rgb(19, 83, 75);
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
}
img {
    display: block;
    width: 100%;
}